[submodule "resources/proximity"]
	path = resources/proximity
	url = git@github.com:emreg00/proximity.git
[submodule "resources/toolbox"]
	path = resources/toolbox
	url = git@github.com:emreg00/toolbox.git
[submodule "toolbox"]
	path = toolbox
	url = git@github.com:emreg00/toolbox.git
[submodule "resources/GraphEmbedding"]
	path = resources/GraphEmbedding
	url = git@github.com:shenweichen/GraphEmbedding.git
[submodule "resources/OpenNE"]
	path = resources/OpenNE
	url = git@github.com:thunlp/OpenNE.git
[submodule "resources/BioNEV"]
	path = resources/BioNEV
	url = git@github.com:xiangyue9607/BioNEV.git
